@charset "UTF-8";

// -------------------------------------------------------------------
// Import all the things
// -------------------------------------------------------------------

// Bourbon
@import "../node_modules/bourbon/dist/bourbon";

// Neat
$column: golden-ratio(1em, 2) !default;
$gutter: golden-ratio(1em, 1) !default;
$max-width: em(1440);
@import "../node_modules/neat/dist/neat";

// Variables

$show_media_queries : true; // src/scss/mixins/media-query-helper.scss
$gutter_spacing: flex-gutter($parent-columns);


// Mixins
@import "mixins";
@import "../src/omega-reset";

// Demo
@import "demo";

// Test
@import "test";
