// -------------------------------------------------------------------
// Grid Settings
// -------------------------------------------------------------------

$column: golden-ratio(1em, 2) !default;
$gutter: golden-ratio(1em, 1) !default;

$max-width: em(1440);
